<!-- changePassword.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
    <!-- ... -->
</head>
<body>
<h1>비밀번호 변경</h1>
<script th:if="${fixMsg != null}" th:inline="javascript">
    alert(/*[[${fixMsg}]]*/);
</script>
<form method="post" action="/member/changepassword">
    <input type="hidden" name="userid" th:value="${userid}" />
    <div class="form-group">
        <label for="newPassword">새비밀번호</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        <label for="confirmPassword">비밀번호 확인</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required/>
    </div>
    <button type="submit" class="btn btn-primary">비밀번호 변경</button>
</form>
</body>
</html>