<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>인증번호 입력</title>
  <!-- ... -->
</head>
<body>
<h1>인증번호 입력</h1>
<p>이메일로 받은 인증번호를 입력해주세요.</p>
<script th:if="${fixMsg != null}" th:inline="javascript">
  alert(/*[[${fixMsg}]]*/);
</script>
<form method="post" action="/member/emailAuthCode">
  <input type="hidden" name="userid" th:value="${userid}" />
  <div class="form-group">
    <label for="authCode">인증번호</label>
    <input type="text" class="form-control" id="authCode" name="authCode" required/>
  </div>
  <button type="submit" class="btn btn-primary">인증번호 확인</button>
</form>
</body>
</html>
