<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.multicampus.hhh.mapper.OrderMapper">

<!--    결제 값 입력-->
    <insert id="insert" parameterType="com.multicampus.hhh.dto.OrderDTO">
        insert into user_order(user_id,ac_id,status,image,amount,price,product_name)
        values ( #{userid}, #{acid}, '구매',#{image},#{amount},#{price},#{productname})
    </insert>
<!--    모든 결제 목록 확인-->
    <select id="findByUserId" parameterType="String" resultType="com.multicampus.hhh.dto.OrderDTO">
        SELECT * FROM user_order WHERE user_id = #{userid}
    </select>

    <select id="findByAcid" resultType="com.multicampus.hhh.dto.OrderDTO">
        SELECT * FROM user_order WHERE ac_id = #{acid}
    </select>



    <select id="selectOne" resultType="com.multicampus.hhh.dto.OrderDTO">
        select * from user_order where order_id = #{orderid}
    </select>


</mapper>