<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multicampus.hhh.mapper.PageMapper">
    <!-- 총 게시글 갯수 출력 -->
    <select id="countBoard" resultType="int">
        SELECT COUNT(*) FROM qa_board
    </select>

    <!-- 페이징 처리 후 게시글 조회 -->
    <select id="selectBoard" resultType="com.multicampus.hhh.domain.QaBoard">
        SELECT *
        FROM qa_board
        ORDER BY qa_id DESC
            LIMIT #{cntPerPage} OFFSET #{start}
    </select>
    <!-- 자전거 구매 게시판 총 게시글 갯수 출력 -->
    <select id="countBikeBoard" resultType="int">
        SELECT COUNT(*) FROM bike_board
    </select>

    <!-- 자전거 구매 게시판 페이징 처리 후 게시글 조회 -->
    <select id="selectBikeBoard" resultType="com.multicampus.hhh.dto.BikeBoardDTO">
        SELECT b.*, u.nickname as nickname
        FROM bike_board b
                 JOIN user u ON b.user_id = u.user_id
        ORDER BY b.bike_id DESC
            LIMIT #{cntPerPage} OFFSET #{start}
    </select>
    <!-- 악세서리 구매 게시판 총 게시글 갯수 출력 -->
    <select id="countAccBoard" resultType="int">
        SELECT COUNT(*) FROM acc_board
    </select>

    <!--악세서리 구매 게시판 페이징 처리 후 게시글 조회 -->
    <select id="selectAccBoard" resultType="com.multicampus.hhh.dto.AccBoardDTO">
        SELECT *
        FROM acc_board
        ORDER BY ac_id DESC
            LIMIT #{cntPerPage} OFFSET #{start}
    </select>
</mapper>