<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multicampus.hhh.mapper.PageMoonMapper">

    <select id="countMoonBoard" resultType="int">
        SELECT COUNT(*) FROM Moon_board where user_id=#{userid};
    </select>

    <!-- 페이징 처리 후 게시글 조회 -->
    <select id="selectMoonBoard" resultType="com.multicampus.hhh.domain.QaMoonBoard">
        SELECT *
        FROM moon_board
        where user_id = #{userid}
        ORDER BY moon_id DESC
            LIMIT #{cntPerPage} OFFSET #{start}
    </select>


    <select id="countMoonBoardAll" resultType="int">
        select count(*) from moon_board;
    </select>



    <select id="selectMoonBoardAll" resultType="com.multicampus.hhh.domain.QaMoonBoard">
        SELECT *
        FROM moon_board
        order by moon_id desc
            LIMIT #{cntPerPage} OFFSET #{start};
    </select>

</mapper>