<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta content="Codescandy" name="author">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


  <!-- Libs CSS -->
  <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet"/>
  <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet"/>
  <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet"/>


  <!-- Theme CSS -->
  <link rel="stylesheet" th:href="@{/css/theme.min.css}">


  <link th:href="@{/libs/dropzone/dist/min/dropzone.min.css}" rel="stylesheet">

  <title>Dashboard</title>
</head>

<body>

<div class="border-bottom">
  <div class="py-4 pt-lg-3 pb-lg-0">
    <div class="container">
      <div class="row w-100 align-items-center gx-lg-2 gx-0">
        <div class="col-xxl-2 col-lg-3">
          <a class="navbar-brand d-none d-lg-block" href="/">
            <img th:src="@{/images/수신호멈.jpg}"
                 alt="eCommerce HTML Template"/>
          </a>
          <div class="d-flex justify-content-between w-100 d-lg-none">
            <a class="navbar-brand" href="/">
              <img
                      th:src="@{/images/logo/freshcart-logo.svg}"
                      alt="eCommerce HTML Template"
              />
            </a>

            <div class="d-flex align-items-center lh-1">
              <div class="list-inline me-4">
                <div class="list-inline-item">
                  <a
                          href="#!"
                          class="text-muted"
                          data-bs-toggle="modal"
                          data-bs-target="#userModal"
                  >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-user"
                    >
                      <path
                              d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                      ></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </a>
                </div>
                <div class="list-inline-item">
                  <a
                          class="text-muted position-relative"
                          data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasRight"
                          href="#offcanvasExample"
                          role="button"
                          aria-controls="offcanvasRight"
                  >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-shopping-bag"
                    >
                      <path
                              d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"
                      ></path>
                      <line x1="3" y1="6" x2="21" y2="6"></line>
                      <path d="M16 10a4 4 0 0 1-8 0"></path>
                    </svg>
                    <span
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                    >
                          1
                          <span class="visually-hidden">unread messages</span>
                        </span>
                  </a>
                </div>
              </div>
              <!-- Button -->
              <button
                      class="navbar-toggler collapsed"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#navbar-default"
                      aria-controls="navbar-default"
                      aria-expanded="false"
                      aria-label="Toggle navigation"
              >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        fill="currentColor"
                        class="bi bi-text-indent-left text-primary"
                        viewBox="0 0 16 16"
                >
                  <path
                          d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-lg-5 d-none d-lg-block">
          <form id="search-form" action="#">
            <div class="input-group">
              <input id="search-input" class="form-control rounded" type="search" placeholder="제품을 검색하세요">
              <span class="input-group-append">
        <button id="search-button" class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="16"
               height="16"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round"
               class="feather feather-search"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </span>
            </div>
          </form>
        </div>


        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal" -->
        <!-- data-bs-target="#locationModal"> -->
        <!-- <i class="feather-icon icon-map-pin me-2"></i>Location 옆 로그인210줄 -->
        <!-- </button> -->
        <!-- </div>  -->

        <div class="col-md-4 col-xxl-4 text-end d-none d-lg-block">
          <div class="list-inline">
            <div class="list-inline-item" sec:authorize="!isAuthenticated()">
              <a href="/member/signin">로그인</a>
            </div>
            <div class="list-inline-item" sec:authorize="isAuthenticated()">
              <a href="/member/logout">로그아웃</a>
            </div>
            <!--            th:if="${session.loginId != null}"-->
            <div class="list-inline-item" sec:authorize="isAuthenticated()">
              <li class="nav-item dropdown" >
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                  마이페이지
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/mypage/shop-cart"
                    >장바구니</a
                    >
                  </li>
                  <li>
                    <a
                            class="dropdown-item"
                            href="/mypage/orderlist-bike"
                    >자전거 구매내역</a
                    >
                  </li>
                  <li>
                    <a
                            class="dropdown-item"
                            href="/mypage/orderlist-acc"
                    >악세사리 구매내역</a
                    >
                  </li>
                  <li>
                    <a
                            class="dropdown-item"
                            href="/mypage/listsell"
                    >판매 목록</a
                    >
                  </li>
                  <li>
                    <a
                            class="dropdown-item"
                            href="/mypage/account-modify"
                    >개인정보 수정</a
                    >
                  </li>
                </ul>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav
          class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-4"
  >
    <div class="container px-0 px-md-3">
      <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
        <div
                class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none"
        >
          <a href="/"
          ><img
                  th:src="@{../images/logo/freshcart-logo.svg}"
                  alt="eCommerce HTML Template"
          /></a>
          <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
          ></button>
        </div>
        <div class="d-block d-lg-none my-4">
          <form action="#">
            <div class="input-group">
              <input
                      class="form-control rounded"
                      type="search"
                      placeholder="Search for products"
              />
              <span class="input-group-append">
                    <button
                            class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                            type="button"
                    >
                      <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-search"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </span>
            </div>
          </form>
          <div class="mt-2">
            <button
                    type="button"
                    class="btn btn-outline-gray-400 text-muted w-100"
                    data-bs-toggle="modal"
                    data-bs-target="#locationModal"
            >
              <i class="feather-icon icon-map-pin me-2"></i>Pick Location
            </button>
          </div>
        </div>

        <div class="d-none d-lg-block">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item dropdown">
              <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                판매 등록
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/acc/productRegister" sec:authorize="hasRole('ROLE_ADMIN')">악세서리 판매 등록</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bike/productRegister" sec:authorize="!isAuthenticated() or hasRole('ROLE_USER') or hasRole('ROLE_ADMIN')">자전거 판매 등록</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                구매
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/acc/accList"
                  >악세서리 구매</a
                  >
                </li>
                <li>
                  <a
                          class="dropdown-item"
                          href="/bike/bikeList"
                  >자전거 구매</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/mypage/shop-cart"
                     sec:authorize="isAuthenticated()">장바구니</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                커뮤니티
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/qa/guide"
                  >가이드</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/qa/qalist"
                  >질문/정보 게시판</a
                  >
                </li>
              </ul>
            </li>

            <!--            <li class="nav-item dropdown">-->
            <!--              <a-->
            <!--                      class="nav-link dropdown-toggle"-->
            <!--                      href="#"-->
            <!--                      role="button"-->
            <!--                      data-bs-toggle="dropdown"-->
            <!--                      aria-expanded="false"-->
            <!--              >-->
            <!--                공지-->
            <!--              </a>-->
            <!--              <ul class="dropdown-menu">-->
            <!--                <li>-->
            <!--                  <a class="dropdown-item" href="../pages/signin.html"-->
            <!--                  >공지</a-->
            <!--                  >-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                  <a class="dropdown-item" href="../pages/signup.html"-->
            <!--                  >이벤트</a-->
            <!--                  >-->
            <!--                </li>-->
            <!--              </ul>-->
            <!--            </li>-->

            <li class="nav-item dropdown">
              <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
              >
                고객센터
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/member/signin" sec:authorize="!isAuthenticated()">1:1문의</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/moon/qamoonlist" sec:authorize="isAuthenticated()">1:1문의</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/moon/moonlist">자주 묻는 질문</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- section 여기부터는 가이드 페이지 나오는듯 -->
<main>
  <div class="mt-4">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="/">메인</a></li>
              <li class="breadcrumb-item"><a href="#!">커뮤니티</a></li>
              <li class="breadcrumb-item"><a href="/qa/guide">가이드</a></li>
              <li class="breadcrumb-item active" aria-current="page">관리방법</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
  <section class="mt-8">
    <div class="container">
      <div class="row">
        <!-- logo -->
        <div class="col-12">
          <h1 class="fw-bold">관리 방법</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->
  <section class="mt-6 mb-lg-14 mb-8">
    <!-- container -->
    <div class="container">

      <!-- row -->
      <div class="row" style="text-align: center;">
        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거타이어.jpg" width="300" height="300" alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">타이어</h2>
            <p>타이어를 고압으로 오랜시간동안 두면 자연스럽게 공기압이 빠지긴 하지만 좋지 않다고 합니다.
              직사광선노출 만큼 높은 공기압은 타이어의 수명을 단축하는 큰 이유가 됩니다.
              "라이딩 후 타이어의 공기를 적당히 빼주고 보관해주시는게 좋습니다."</p>
          </div>
        </div>

        <!--<div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              &lt;!&ndash; img &ndash;&gt;
              <div class="img-zoom">
                <img src="/images/자전거바퀴.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          &lt;!&ndash; text &ndash;&gt;
          <div>
            <h2 class="h5">바퀴</h2>
            <p>내용</p>
          </div>
        </div>-->

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거브레이크.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">브레이크</h2>
            <p>휠을 재장착한 후에는 제대로 장착됐는지 브레이크와 휠의 간격을 확인한다.
              브레이크 패드 마모상태를 체크하고 수명이 다 됐으면 교체한다.
              자전거 세차 후에 체인에 윤활유를 도포하면서 브레이크 마찰면에 윤활유가 튀지 않게 조심해야 한다</p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거변속기.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">변속기</h2>
            <p>변속은 항상 페달을 굴리고 있는 시점에서 해야합니다.
              자전거는 페달을 굴려야 동력이 전달되는 원리로 페달을 구르지 않고 있는 시점은 바퀴가 헛돌고 있는 상태라고 보시면 됩니다.
              정지상태에서 변속을 할경우 변속은 되지 않고 변속기만 변속위치에 가있으므로 부품의 피로도만 높이게 됩니다.</p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거체인.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">체인</h2>
            <p>오일링 하기 전에 칫솔이나 천 같은 것으로 체인의 오염 물질을 깨끗히 닦아줌니다.
              오일링 할 때 체인 전체에 뿌리거나 과하게 하지 말고 체인 안 쪽 마디 마디에 아주 아주 소량씩만 뿌려줍니다.
              그리고, 체인 오일링 할 때 체인링크가 있는 부분부터 시작하여 다시 체인 링크 부분이 돌아 올 때까지 하면 겹치지 않고 체인 전체에 골고루 오일링 할 수 있습니다.
            </p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거스템.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">스템</h2>
            <p>먼지나 오염물질이 스템 내부로 들어가면 스템이 망가질 수 있으므로, 부드러운 수세미나 건조한 수건으로 스템을 깨끗이 닦아줍니다.
              스템 볼트가 너무 느슨하거나 너무 단단하면, 스템이 불안정해지거나 움직이지 않을 수 있습니다.
              스템의 높이가 적절하지 않으면 핸들바를 제대로 잡지 못하거나 불편하게 느끼게 됩니다.</p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거서스펜션포크.jpg" width="300" height="300" alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">서스펜션포크</h2>
            <p> 먼지나 오염물질이 서스펜션포크 내부로 들어가면 작동에 영향을 미치므로, 부드러운 수세미나 건조한 수건으로 서스펜션포크를 깨끗이 닦아줍니다.
              서스펜션포크의 볼트나 너트가 너무 느슨하거나 너무 단단하면, 충격 완화 성능이 떨어지거나, 작동 시 노이즈가 발생할 수 있으므로, 볼트나 너트를 적절하게 조여줍니다.
              오랫동안 사용하면서 오일이 변질되거나 더러워진 경우, 작동에 영향을 미치므로 정기적으로 오일을 교체해야 합니다.</p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거헤드셋.jpg" width="300" height="300" alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">헤드셋</h2>
            <p>먼지나 오염물질이 헤드셋 내부로 들어가면 작동에 영향을 미치므로, 부드러운 수세미나 건조한 수건으로 헤드셋을 깨끗이 닦아줍니다.
              헤드셋의 볼트나 너트가 너무 느슨하거나 너무 단단하면, 전바퀴 조향이 어려워지거나, 작동 시 노이즈가 발생할 수 있으므로, 볼트나 너트를 적절하게 조여줍니다.
              헤드셋의 베어링이 마모되면 조향이 어려워지거나 전혀 작동하지 않을 수 있으므로, 베어링을 교체해야 합니다.
              헤드셋의 윤활을 유지합니다.
            </p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거크랭크.jpg" width="300" height="300" alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">크랭크</h2>
            <p>크랭크가 먼지나 오염물질로 얼룩지면, 작동에 영향을 미치므로 부드러운 수세미나 건조한 수건으로 깨끗하게 닦아줍니다.
              크랭크 볼트와 너트가 너무 느슨하면, 크랭크가 제대로 작동하지 않을 수 있으므로, 볼트와 너트를 조여줍니다.
              크랭크 베어링이 마모되면, 크랭크 회전에 장애가 생길 수 있으므로 베어링을 교체해야 합니다.
              크랭크의 카세트나 체인이 마모되면, 크랭크 작동에 영향을 미칠 수 있으므로, 카세트와 체인을 적정 수준으로 교체해줍니다.
            </p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거케이블.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">케이블</h2>
            <p>브레이크 레버나 기어 레버를 작동시켜, 케이블이 제대로 움직이는지 확인합니다.
              케이블의 노출된 부분은 먼지나 오염물질로 얼룩지면, 작동에 영향을 미치므로 부드러운 수세미나 건조한 수건으로 깨끗하게 닦아줍니다.
              케이블의 동작을 원활하게 하기 위해서는 적정한 양의 윤활유를 발라줘야 합니다.
              케이블에 윤활유를 뿌리기 전에, 케이블의 노출된 부분에 휴지나 수건을 이용하여 먼지를 제거해주고, 다시 한 번 움직임을 확인합니다.</p>
          </div>
        </div>

        <div class="col-9 col-md-4 col-lg-3 mb-8">
          <div class="mb-4">
            <a href="#!">
              <!-- img -->
              <div class="img-zoom">
                <img src="/images/자전거안장.jpg" width="300" height="300"alt="" style="display: inline-block;">
              </div>
            </a>
          </div>
          <!-- text -->
          <div>
            <h2 class="h5">안장</h2>
            <p>안장의 높이와 각도는 자전거 운전에 매우 중요한 역할을 합니다.
              안장 높이는 페달에서 바닥까지의 거리의 절반 정도가 되도록 조절해야 하며, 안장 각도는 개인적인 취향과 운전 스타일에 맞게 조절해줍니다.
              스프링이 제대로 작동하지 않으면 안장의 편안함을 떨어뜨리므로, 필요시 교체해줍니다.</p>
          </div>
        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 mb-3 mb-lg-0">
            <div>
              <a href="/" class="btn btn-dark">홈으로</a>
              <a href="/qa/guide" class="btn btn-dark">가이드</a>
            </div>

          </div>
        </div>
      </div>





    </div>
  </section>

</main>













<!-- Footer -->
<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row g-4 py-4">



      <div class="col-12 col-md-12 col-lg-8">
        <div class="row g-4">

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">판매 등록</h6>
            <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">판매 등록</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">구매</h6>
            <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">악세서리 구매</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">자전거 구매</a></li>
              <li class="nav-item mb-2"><a href="#1" class="nav-link">장바구니</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">커뮤니티</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="/qa/guide" class="nav-link">가이드</a></li>
              <li class="nav-item mb-2"><a href="/qa/qalist" class="nav-link">질문/정보 게시판</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">공지</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="#!" class="nav-link">공지</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">이벤트</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">고객센터</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="/moon/qamoonlist" class="nav-link">1:1문의</a></li>
              <li class="nav-item mb-2"><a href="/moon/moonlist" class="nav-link">자주 묻는 질문</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</footer>
<!-- Javascript-->
<!-- Libs JS -->
<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>




</body>

</html>