<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <title>FreshCart - eCommerce HTML Template</title>
  <link th:href="@{/libs/dropzone/dist/min/dropzone.min.css}" rel="stylesheet" />
  <link th:href="@{/libs/tiny-slider/dist/tiny-slider.css}" rel="stylesheet">
  <link th:href="@{/libs/slick-carousel/slick/slick.css}" rel="stylesheet" />
  <link th:href="@{/libs/slick-carousel/slick/slick-theme.css}" rel="stylesheet" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta content="Codescandy" name="author">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M8S4MT3EYG');
  </script>

  <!-- Favicon icon-->
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">


  <!-- Libs CSS -->
  <link th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/libs/feather-webfont/dist/feather-icons.css}" rel="stylesheet">
  <link th:href="@{/libs/simplebar/dist/simplebar.min.css}" rel="stylesheet">


  <!-- Theme CSS -->
  <link rel="stylesheet" th:href="@{/css/theme.min.css}">


</head>

<body>

<div class="border-bottom ">


  <div class="py-4 pt-lg-3 pb-lg-0">
    <div class="container">
      <div class="row w-100 align-items-center gx-lg-2 gx-0">
        <div class="col-xxl-2 col-lg-3">
          <a class="navbar-brand d-none d-lg-block" href="../dist/index.html">
            <img src="../assets/images/수신호멈.jpg" alt="eCommerce HTML Template">

          </a>
          <div class="d-flex justify-content-between w-100 d-lg-none">
            <a class="navbar-brand" href="../dist/index.html">
              <img src="../assets/images/logo/freshcart-logo.svg" alt="eCommerce HTML Template">

            </a>

            <div class="d-flex align-items-center lh-1">

              <div class="list-inline me-4">
                <div class="list-inline-item">

                  <a href="#!" class="text-muted" data-bs-toggle="modal" data-bs-target="#userModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-user">
                      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                      <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                  </a>
                </div>
                <div class="list-inline-item">

                  <a class="text-muted position-relative " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                     href="#offcanvasExample" role="button" aria-controls="offcanvasRight">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-shopping-bag">
                      <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                      <line x1="3" y1="6" x2="21" y2="6"></line>
                      <path d="M16 10a4 4 0 0 1-8 0"></path>
                    </svg>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        1
                        <span class="visually-hidden">unread messages</span>
                      </span>
                  </a>
                </div>

              </div>
              <!-- Button -->
              <button class="navbar-toggler collapsed" type="button" data-bs-toggle="offcanvas"
                      data-bs-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                      aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                  <path
                          d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                </svg>
              </button>

            </div>
          </div>

        </div>
        <div class="col-xxl-6 col-lg-5 d-none d-lg-block">

          <form action="#">
            <div class="input-group ">
              <input class="form-control rounded" type="search" placeholder="Search for products">
              <span class="input-group-append">
                  <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </span>
            </div>

          </form>
        </div>


        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal" -->
        <!-- data-bs-target="#locationModal"> -->
        <!-- <i class="feather-icon icon-map-pin me-2"></i>Location 옆 로그인210줄 -->
        <!-- </button> -->
        <!-- </div>  -->

        <div class="col-md-4 col-xxl-4 text-end d-none d-lg-block">

          <div class="list-inline">

            <div class="list-inline-item">
              <a href="./pages/signin.html">로그인</a>
            </div>

            <div class="list-inline-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                  마이페이지
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./pages/signin.html">장바구니</a></li>
                  <li><a class="dropdown-item" href="./pages/signup.html">구매 목록</a></li>
                  <li><a class="dropdown-item" href="./pages/forgot-password.html">판매 목록</a></li>
                  <li><a class="dropdown-item" href="./pages/signup.html">개인정보 수정</a></li>
                  <li><a class="dropdown-item" href="./pages/signup.html">주소 추가/수정</a></li>
                </ul>
              </li>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-4">
    <div class="container px-0 px-md-3">

      <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
        <div class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none">
          <a href="../dist/index.html"><img src="../assets/images/logo/freshcart-logo.svg"
                                            alt="eCommerce HTML Template"></a>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="d-block d-lg-none my-4">
          <form action="#">
            <div class="input-group ">
              <input class="form-control rounded" type="search" placeholder="Search for products">
              <span class="input-group-append">
                  <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-search">
                      <circle cx="11" cy="11" r="8"></circle>
                      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                  </button>
                </span>
            </div>
          </form>
          <div class="mt-2">
            <button type="button" class="btn  btn-outline-gray-400 text-muted w-100 " data-bs-toggle="modal"
                    data-bs-target="#locationModal">
              <i class="feather-icon icon-map-pin me-2"></i>Pick Location
            </button>
          </div>

        </div>

        <div class="d-none d-lg-block">
          <ul class="navbar-nav align-items-center ">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                판매 등록
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../dashboard/add-product.html">악세서리 판매 등록</a></li>
                <li><a class="dropdown-item" href="../dashboard/add-product.html">자전거 판매 등록</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                구매
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../pages/shop-acc.html">악세서리 구매</a></li>
                <li><a class="dropdown-item" href="../pages/shop.html">자전거 구매</a></li>
                <li><a class="dropdown-item" href="../pages/shop-cart.html">장바구니</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                커뮤니티
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="./pages/blog.html">가이드</a></li>
                <li><a class="dropdown-item" href="../pages/store-grid.html">질문/정보 게시판</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                공지
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../pages/signin.html">공지</a></li>
                <li><a class="dropdown-item" href="../pages/signup.html">이벤트</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                고객센터
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../pages/signin.html">1:1문의</a></li>
                <li><a class="dropdown-item" href="../pages/signup.html">자주 묻는 질문</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </nav>
</div>
<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header border-0">
        <h5 class="modal-title fs-3 fw-bold" id="userModalLabel">Sign Up</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="fullName" class="form-label">Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter Your Name" required="">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Email address" required="">
          </div>

          <div class="mb-5">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter Password" required="">
            <small class="form-text">By Signup, you agree to our <a href="#!">Terms of Service</a> & <a
                    href="#!">Privacy Policy</a></small>
          </div>

          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <div class="modal-footer border-0 justify-content-center">

        Already have an account? <a href="#">Sign in</a>
      </div>
    </div>
  </div>
</div>



<!-- Shop Cart -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header border-bottom">
    <div class="text-start">
      <h5 id="offcanvasRightLabel" class="mb-0 fs-4">Shop Cart</h5>
      <small>Location in 382480</small>
    </div>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="">
      <!-- alert -->
      <div class="alert alert-danger p-2" role="alert">
        You’ve got FREE delivery. Start <a href="#!" class="alert-link">checkout now!</a>
      </div>
      <ul class="list-group list-group-flush">
        <!-- list group -->
        <li class="list-group-item py-3 ps-0 border-top">
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-3 col-md-2">
              <!-- img --> <img src="../assets/images/products/product-img-1.jpg" alt="Ecommerce"
                                class="img-fluid"></div>
            <div class="col-4 col-md-6 col-lg-5">
              <!-- title -->
              <a href="../pages/shop-single.html" class="text-inherit">
                <h6 class="mb-0">Haldiram's Sev Bhujia</h6>
              </a>
              <span><small class="text-muted">.98 / lb</small></span>
              <!-- text -->
              <div class="mt-2 small lh-1"> <a href="#!" class="text-decoration-none text-inherit"> <span
                      class="me-1 align-text-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2 text-success">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                      </path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg></span><span class="text-muted">Remove</span></a></div>
            </div>
            <!-- input group -->
            <div class="col-3 col-md-3 col-lg-3">
              <!-- input -->
              <!-- input -->
              <div class="input-group input-spinner  ">
                <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                <input type="number" step="1" max="10" value="1" name="quantity"
                       class="quantity-field form-control-sm form-input   ">
                <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
              </div>

            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold">$5.00</span>

            </div>
          </div>

        </li>
        <!-- list group -->
        <li class="list-group-item py-3 ps-0">
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-3 col-md-2">
              <!-- img --> <img src="../assets/images/products/product-img-2.jpg" alt="Ecommerce"
                                class="img-fluid"></div>
            <div class="col-4 col-md-6 col-lg-5">
              <!-- title -->
              <a href="../pages/shop-single.html" class="text-inherit">
                <h6 class="mb-0">NutriChoice Digestive </h6>
              </a>
              <span><small class="text-muted">250g</small></span>
              <!-- text -->
              <div class="mt-2 small lh-1"> <a href="#!" class="text-decoration-none text-inherit"> <span
                      class="me-1 align-text-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2 text-success">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                      </path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg></span><span class="text-muted">Remove</span></a></div>
            </div>
            <!-- input group -->
            <div class="col-3 col-md-3 col-lg-3">
              <!-- input -->
              <!-- input -->
              <div class="input-group input-spinner  ">
                <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                <input type="number" step="1" max="10" value="1" name="quantity"
                       class="quantity-field form-control-sm form-input   ">
                <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
              </div>
            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold text-danger">$20.00</span>
              <div class="text-decoration-line-through text-muted small">$26.00</div>
            </div>
          </div>

        </li>
        <!-- list group -->
        <li class="list-group-item py-3 ps-0">
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-3 col-md-2">
              <!-- img --> <img src="../assets/images/products/product-img-3.jpg" alt="Ecommerce"
                                class="img-fluid"></div>
            <div class="col-4 col-md-6 col-lg-5">
              <!-- title -->
              <a href="../pages/shop-single.html" class="text-inherit">
                <h6 class="mb-0">Cadbury 5 Star Chocolate</h6>
              </a>
              <span><small class="text-muted">1 kg</small></span>
              <!-- text -->
              <div class="mt-2 small lh-1"> <a href="#!" class="text-decoration-none text-inherit"> <span
                      class="me-1 align-text-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2 text-success">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                      </path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg></span><span class="text-muted">Remove</span></a></div>
            </div>
            <!-- input group -->
            <div class="col-3 col-md-3 col-lg-3">
              <!-- input -->
              <!-- input -->
              <div class="input-group input-spinner  ">
                <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                <input type="number" step="1" max="10" value="1" name="quantity"
                       class="quantity-field form-control-sm form-input   ">
                <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
              </div>
            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold">$15.00</span>
              <div class="text-decoration-line-through text-muted small">$20.00</div>
            </div>
          </div>

        </li>
        <!-- list group -->
        <li class="list-group-item py-3 ps-0">
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-3 col-md-2">
              <!-- img --> <img src="../assets/images/products/product-img-4.jpg" alt="Ecommerce"
                                class="img-fluid"></div>
            <div class="col-4 col-md-6 col-lg-5">
              <!-- title -->
              <a href="../pages/shop-single.html" class="text-inherit">
                <h6 class="mb-0">Onion Flavour Potato</h6>
              </a>
              <span><small class="text-muted">250g</small></span>
              <!-- text -->
              <div class="mt-2 small lh-1"> <a href="#!" class="text-decoration-none text-inherit"> <span
                      class="me-1 align-text-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2 text-success">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                      </path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg></span><span class="text-muted">Remove</span></a></div>
            </div>
            <!-- input group -->
            <div class="col-3 col-md-3 col-lg-3">
              <!-- input -->
              <!-- input -->
              <div class="input-group input-spinner  ">
                <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                <input type="number" step="1" max="10" value="1" name="quantity"
                       class="quantity-field form-control-sm form-input   ">
                <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
              </div>
            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold">$15.00</span>
              <div class="text-decoration-line-through text-muted small">$20.00</div>
            </div>
          </div>

        </li>
        <!-- list group -->
        <li class="list-group-item py-3 ps-0 border-bottom">
          <!-- row -->
          <div class="row align-items-center">
            <div class="col-3 col-md-2">
              <!-- img --> <img src="../assets/images/products/product-img-5.jpg" alt="Ecommerce"
                                class="img-fluid"></div>
            <div class="col-4 col-md-6 col-lg-5">
              <!-- title -->
              <a href="../pages/shop-single.html" class="text-inherit">
                <h6 class="mb-0">Salted Instant Popcorn </h6>
              </a>
              <span><small class="text-muted">100g</small></span>
              <!-- text -->
              <div class="mt-2 small lh-1"> <a href="#!" class="text-decoration-none text-inherit"> <span
                      class="me-1 align-text-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-trash-2 text-success">
                      <polyline points="3 6 5 6 21 6"></polyline>
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                      </path>
                      <line x1="10" y1="11" x2="10" y2="17"></line>
                      <line x1="14" y1="11" x2="14" y2="17"></line>
                    </svg></span><span class="text-muted">Remove</span></a></div>
            </div>
            <!-- input group -->
            <div class="col-3 col-md-3 col-lg-3">
              <!-- input -->
              <!-- input -->
              <div class="input-group input-spinner  ">
                <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                <input type="number" step="1" max="10" value="1" name="quantity"
                       class="quantity-field form-control-sm form-input   ">
                <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
              </div>
            </div>
            <!-- price -->
            <div class="col-2 text-lg-end text-start text-md-end col-md-2">
              <span class="fw-bold">$15.00</span>
              <div class="text-decoration-line-through text-muted small">$25.00</div>
            </div>
          </div>

        </li>

      </ul>
      <!-- btn -->
      <div class="d-flex justify-content-between mt-4">
        <a href="#!" class="btn btn-primary">Continue Shopping</a>
        <a href="#!" class="btn btn-dark">Update Cart</a>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-body p-6">
        <div class="d-flex justify-content-between align-items-start ">
          <div>
            <h5 class="mb-1" id="locationModalLabel">Choose your Delivery Location</h5>
            <p class="mb-0 small">Enter your address and we will specify the offer you area. </p>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="my-5">
          <input type="search" class="form-control" placeholder="Search your area">
        </div>
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0">Select Location</h6>
          <a href="#" class="btn btn-outline-gray-400 text-muted btn-sm">Clear All</a>


        </div>
        <div>
          <div data-simplebar style="height:300px;">
            <div class="list-group list-group-flush">

              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action active">
                <span>Alabama</span><span>Min:$20</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Alaska</span><span>Min:$30</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Arizona</span><span>Min:$50</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>California</span><span>Min:$29</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Colorado</span><span>Min:$80</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Florida</span><span>Min:$90</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Arizona</span><span>Min:$50</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>California</span><span>Min:$29</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Colorado</span><span>Min:$80</span></a>
              <a href="#"
                 class="list-group-item d-flex justify-content-between align-items-center px-2 py-3 list-group-item-action">
                <span>Florida</span><span>Min:$90</span></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<main>
  <!-- section-->
  <div class="mt-4">
    <div class="container">
      <!-- row -->
      <div class="row ">
        <!-- col -->
        <div class="col-12">
          <!-- breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#!">홈</a></li>
              <li class="breadcrumb-item"><a href="#!">게시판</a></li>
              <li class="breadcrumb-item active" aria-current="page">주문</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- section -->
  <section class="mb-lg-14 mb-8 mt-8">
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-12">
          <div>
            <div class="mb-8">
              <!-- text -->
              <h1 class="fw-bold mb-0">주문</h1>
              <p class="mb-0">계정이 있으신가요? <a href="#!">로그인</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <!-- accordion -->
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <!-- accordion item -->
              <div class="accordion-item py-4">

                <div class="d-flex justify-content-between align-items-center">
                  <!-- heading one -->
                  <a href="#" class="fs-5 text-inherit collapsed h4"  data-bs-toggle="collapse"
                     data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    <i class="feather-icon icon-map-pin me-2 text-muted"></i>배송지
                  </a>
                  <!-- btn -->
                  <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                     data-bs-target="#addAddressModal">새 배송지 입력 </a>
                  <!-- collapse -->
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse show"
                     data-bs-parent="#accordionFlushExample">
                  <div class="mt-5">
                    <div class="row">
                      <div class="col-lg-6 col-12 mb-4">
                        <!-- form -->
                        <div class="card card-body p-6 ">
                          <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="homeRadio" checked>
                            <label class="form-check-label text-dark" for="homeRadio">
                              집(기본 주소)
                            </label>
                          </div>
                          <!-- address -->
                          <address> <strong>Jitu Chauhan</strong> <br>

                            4450 North Avenue Oakland, <br>

                            Nebraska, United States,<br>

                            <abbr title="Phone">P: 402-776-1106</abbr></address>
                          <span class="text-danger">Default address </span>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <!-- accordion item -->

              <!-- accordion item -->

              <!-- accordion item -->
              <div class="accordion-item py-4">

                <a href="#" class="text-inherit h5"  data-bs-toggle="collapse"
                   data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  <i class="feather-icon icon-credit-card me-2 text-muted"></i>결제 수단
                  <!-- collapse --> </a>
                <div id="flush-collapseFour" class="accordion-collapse collapse "
                     data-bs-parent="#accordionFlushExample">

                  <div class="mt-5">
                    <div>

                      <div class="card card-bordered shadow-none mb-2">
                        <!-- card body -->
                        <div class="card-body p-6">
                          <div class="d-flex">
                            <div class="form-check">
                              <!-- checkbox -->
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal">
                              <label class="form-check-label ms-2" for="paypal">

                              </label>
                            </div>
                            <div>
                              <!-- title -->
                              <h5 class="mb-1 h6"> 카카오페이</h5>

                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- card -->

                      <!-- card -->
                      <div class="card card-bordered shadow-none mb-2">
                        <!-- card body -->
                        <div class="card-body p-6">
                          <!-- check input -->
                          <div class="d-flex">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="payoneer">
                              <label class="form-check-label ms-2" for="payoneer">

                              </label>
                            </div>
                            <div>
                              <!-- title -->
                              <h5 class="mb-1 h6">네이버페이</h5>
                              <p class="mb-0 small">서비스 예정</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- card -->
                      <div class="card card-bordered shadow-none">
                        <div class="card-body p-6">
                          <!-- check input -->
                          <div class="d-flex">
                            <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="cashonDelivery">
                              <label class="form-check-label ms-2" for="cashonDelivery">

                              </label>
                            </div>
                            <div>
                              <!-- title -->
                              <h5 class="mb-1 h6"> 핸드폰결제</h5>
                              <p class="mb-0 small">서비스 예정</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Button -->
                      <div class="mt-5 d-flex justify-content-end">
                        <a href="#" class="btn btn-outline-gray-400 text-muted"
                           data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                           aria-controls="flush-collapseThree">취소</a>
                        <a href="#" class="btn btn-primary ms-2">주문</a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>

          </div>

          <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
            <div class="mt-4 mt-lg-0">
              <div class="card shadow-sm">
                <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                <ul class="list-group list-group-flush">
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="row align-items-center">
                      <div class="col-2 col-md-2">
                        <img src="../assets/images/products/product-img-1.jpg" alt="Ecommerce" class="img-fluid"></div>
                      <div class="col-5 col-md-5">
                        <h6 class="mb-0">Haldiram's Sev Bhujia</h6>
                        <span><small class="text-muted">.98 / lb</small></span>

                      </div>
                      <div class="col-2 col-md-2 text-center text-muted">
                        <span>1</span>

                      </div>
                      <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                        <span class="fw-bold">$5.00</span>

                      </div>
                    </div>

                  </li>
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="row align-items-center">
                      <div class="col-2 col-md-2">
                        <img src="../assets/images/products/product-img-2.jpg" alt="Ecommerce" class="img-fluid"></div>
                      <div class="col-5 col-md-5">
                        <h6 class="mb-0">NutriChoice Digestive</h6>
                        <span><small class="text-muted">250g</small></span>

                      </div>
                      <div class="col-2 col-md-2 text-center text-muted">
                        <span>1</span>

                      </div>
                      <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                        <span class="fw-bold">$20.00</span>
                        <div class="text-decoration-line-through text-muted small">$26.00</div>
                      </div>
                    </div>

                  </li>
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="row align-items-center">
                      <div class="col-2 col-md-2">
                        <img src="../assets/images/products/product-img-3.jpg" alt="Ecommerce" class="img-fluid"></div>
                      <div class="col-5 col-md-5">
                        <h6 class="mb-0">Cadbury 5 Star Chocolate</h6>
                        <span><small class="text-muted">1 kg</small></span>

                      </div>
                      <div class="col-2 col-md-2 text-center text-muted">
                        <span>1</span>

                      </div>
                      <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                        <span class="fw-bold">$15.00</span>
                        <div class="text-decoration-line-through text-muted small">$20.00</div>
                      </div>
                    </div>

                  </li>
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="row align-items-center">
                      <div class="col-2 col-md-2">
                        <img src="../assets/images/products/product-img-4.jpg" alt="Ecommerce" class="img-fluid"></div>
                      <div class="col-5 col-md-5">
                        <h6 class="mb-0">Onion Flavour Potato</h6>
                        <span><small class="text-muted">250g</small></span>

                      </div>
                      <div class="col-2 col-md-2 text-center text-muted">
                        <span>1</span>

                      </div>
                      <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                        <span class="fw-bold">$15.00</span>
                        <div class="text-decoration-line-through text-muted small">$20.00</div>
                      </div>
                    </div>

                  </li>

                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between   mb-2">
                      <div>
                        Item Subtotal

                      </div>
                      <div class="fw-bold">
                        $70.00

                      </div>

                    </div>
                    <div class="d-flex align-items-center justify-content-between  ">
                      <div>
                        Service Fee <i class="feather-icon icon-info text-muted" data-bs-toggle="tooltip"
                                       title="Default tooltip"></i>

                      </div>
                      <div class="fw-bold">
                        $3.00

                      </div>

                    </div>

                  </li>
                  <!-- list group item -->
                  <li class="list-group-item px-4 py-3">
                    <div class="d-flex align-items-center justify-content-between fw-bold">
                      <div>
                        Subtotal
                      </div>
                      <div>
                        $73.00


                      </div>

                    </div>


                  </li>

                </ul>

              </div>


            </div>
          </div>


        </div>
      </div>


    </div>


  </section>
</main>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete address</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Are you sure you want to delete this address?</h6>
        <p class="mb-6">Jitu Chauhan<br>

          4450 North Avenue Oakland, <br>

          Nebraska, United States,<br>

          402-776-1106</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-gray-400" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- modal body -->
      <div class="modal-body p-6">
        <div class="d-flex justify-content-between mb-5">
          <!-- heading -->
          <div>
            <h5 class="h6 mb-1" id="addAddressModalLabel">New Shipping Address</h5>
            <p class="small mb-0">Add new shipping address for your order delivery.</p>
          </div>
          <div>
            <!-- button -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
        <!-- row -->
        <div class="row g-3">
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="수령인" aria-label="name" required="">
          </div>
          <!-- col -->
          <div class="col-12">
            <input type="text" class="form-control" placeholder="주소" aria-label="address" required="">
          </div>
          <!-- col -->
          <div class="col-12">

            <input type="text" class="form-control" placeholder="상세 주소">
          </div>
          <div class="col-12">
            <!-- button -->
            <input type="text" class="form-control" placeholder="전화 번호">
          </div>





          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <!-- label -->
              <label class="form-check-label" for="flexCheckDefault">
                기본 주소로 설정
              </label>
            </div>
          </div>
          <!-- button -->
          <div class="col-12 text-end">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">취소</button>
            <button class="btn btn-primary" type="button">확인 </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Footer -->
<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row g-4 py-4">



      <div class="col-12 col-md-12 col-lg-8">
        <div class="row g-4">

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">판매 등록</h6>
            <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">판매 등록</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">구매</h6>
            <!-- list -->
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#!" class="nav-link">악세서리 구매</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">자전거 구매</a></li>
              <li class="nav-item mb-2"><a href="#1" class="nav-link">장바구니</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">커뮤니티</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="#!" class="nav-link">가이드</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">질문/정보 게시판</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-2">
            <h6 class="mb-4">공지</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="#!" class="nav-link">공지</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">이벤트</a></li>
            </ul>
          </div>

          <div class="col-6 col-sm-6 col-md-3">
            <h6 class="mb-4">고객센터</h6>
            <ul class="nav flex-column">
              <!-- list -->
              <li class="nav-item mb-2"><a href="#!" class="nav-link">1:1문의</a></li>
              <li class="nav-item mb-2"><a href="#!" class="nav-link">자주 묻는 질문</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>




  </div>
</footer>

<!-- modal -->
<!-- Modal -->





<!-- Javascript-->
<script th:src="@{/libs/rater-js/index.js}"></script>
<script th:src="@{/libs/dropzone/dist/min/dropzone.min.js}"></script>

<!-- Libs JS -->
<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>

<script th:src="@{/libs/tiny-slider/dist/min/tiny-slider.js}"></script>
<script th:src="@{/js/vendors/tns-slider.js}"></script>
<script th:src="@{/js/vendors/zoom.js}"></script>
<script th:src="@{/js/vendors/increment-value.js}"></script>

<script src="https://cdn.iamport.kr/v1/iamport.js"></script>



</body>

</html>