<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FreshCart - eCommerce HTML Template</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta content="Codescandy" name="author" />

    <!-- Google tag (gtag.js) -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-M8S4MT3EYG");
    </script>

    <!-- Favicon icon-->
    <link
            rel="shortcut icon"
            type="image/x-icon"
            th:href="@{/images/favicon/favicon.ico}"
    />

    <!-- Libs CSS -->
    <link
            th:href="@{/libs/bootstrap-icons/font/bootstrap-icons.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/libs/feather-webfont/dist/feather-icons.css}"
            rel="stylesheet"
    />
    <link
            th:href="@{/libs/simplebar/dist/simplebar.min.css}"
            rel="stylesheet"
    />

    <!-- Theme CSS -->
    <link rel="stylesheet" th:href="@{/css/theme.min.css}" />
</head>

<body>
<div class="border-bottom">
    <div class="py-4 pt-lg-3 pb-lg-0">
        <div class="container">
            <div class="row w-100 align-items-center gx-lg-2 gx-0">
                <div class="col-xxl-2 col-lg-3">
                    <a class="navbar-brand d-none d-lg-block" href="/">
                        <img th:src="@{/images/수신호멈.jpg}"
                             alt="eCommerce HTML Template"/>
                    </a>
                    <div class="d-flex justify-content-between w-100 d-lg-none">
                        <a class="navbar-brand" href="/">
                            <img
                                    th:src="@{/images/logo/freshcart-logo.svg}"
                                    alt="eCommerce HTML Template"
                            />
                        </a>

                        <div class="d-flex align-items-center lh-1">
                            <div class="list-inline me-4">
                                <div class="list-inline-item">
                                    <a
                                            href="#!"
                                            class="text-muted"
                                            data-bs-toggle="modal"
                                            data-bs-target="#userModal"
                                    >
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-user"
                                        >
                                            <path
                                                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"
                                            ></path>
                                            <circle cx="12" cy="7" r="4"></circle>
                                        </svg>
                                    </a>
                                </div>
                                <div class="list-inline-item">
                                    <a
                                            class="text-muted position-relative"
                                            data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasRight"
                                            href="#offcanvasExample"
                                            role="button"
                                            aria-controls="offcanvasRight"
                                    >
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-shopping-bag"
                                        >
                                            <path
                                                    d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"
                                            ></path>
                                            <line x1="3" y1="6" x2="21" y2="6"></line>
                                            <path d="M16 10a4 4 0 0 1-8 0"></path>
                                        </svg>
                                        <span
                                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success"
                                        >
                          1
                          <span class="visually-hidden">unread messages</span>
                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- Button -->
                            <button
                                    class="navbar-toggler collapsed"
                                    type="button"
                                    data-bs-toggle="offcanvas"
                                    data-bs-target="#navbar-default"
                                    aria-controls="navbar-default"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="32"
                                        height="32"
                                        fill="currentColor"
                                        class="bi bi-text-indent-left text-primary"
                                        viewBox="0 0 16 16"
                                >
                                    <path
                                            d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-5 d-none d-lg-block">
                    <form action="#">
                        <div class="input-group">
                            <input
                                    class="form-control rounded"
                                    type="search"
                                    placeholder="Search for products"
                            />
                            <span class="input-group-append">
                    <button
                            class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                            type="button"
                    >
                      <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-search"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </span>
                        </div>
                    </form>
                </div>

                <!-- Button trigger modal -->
                <!-- <button type="button" class="btn  btn-outline-gray-400 text-muted" data-bs-toggle="modal" -->
                <!-- data-bs-target="#locationModal"> -->
                <!-- <i class="feather-icon icon-map-pin me-2"></i>Location 옆 로그인210줄 -->
                <!-- </button> -->
                <!-- </div>  -->

                <div class="col-md-4 col-xxl-4 text-end d-none d-lg-block">
                    <div class="list-inline">
                        <div class="list-inline-item" th:if="${session.loginId == null}">
                            <a href="/member/signin">로그인</a>
                        </div>
                        <div class="list-inline-item" th:if="${session.loginId != null}">
                            <a href="/member/logout">로그아웃</a>
                        </div>



                        <div class="list-inline-item" th:if="${session.loginId != null}">
                            <li class="nav-item dropdown" >
                                <a
                                        class="nav-link dropdown-toggle"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                >
                                    마이페이지
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="/mypage/shop-cart"
                                        >장바구니</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="/mypage/orderlist-bike"
                                        >자전거 구매내역</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="/mypage/orderlist-acc"
                                        >악세사리 구매내역</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="/mypage/listsell"
                                        >판매 목록</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                                class="dropdown-item"
                                                href="/mypage/account-modify"
                                        >개인정보 수정</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav
            class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-4"
    >
        <div class="container px-0 px-md-3">
            <div class="offcanvas offcanvas-start p-4 p-lg-0" id="navbar-default">
                <div
                        class="d-flex justify-content-between align-items-center mb-2 d-block d-lg-none"
                >
                    <a href="/"
                    ><img
                            th:src="@{../images/logo/freshcart-logo.svg}"
                            alt="eCommerce HTML Template"
                    /></a>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                    ></button>
                </div>
                <div class="d-block d-lg-none my-4">
                    <form action="#">
                        <div class="input-group">
                            <input
                                    class="form-control rounded"
                                    type="search"
                                    placeholder="Search for products"
                            />
                            <span class="input-group-append">
                    <button
                            class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end"
                            type="button"
                    >
                      <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              viewBox="0 0 24 24"
                              fill="none"
                              stroke="currentColor"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              class="feather feather-search"
                      >
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                      </svg>
                    </button>
                  </span>
                        </div>
                    </form>
                    <div class="mt-2">
                        <button
                                type="button"
                                class="btn btn-outline-gray-400 text-muted w-100"
                                data-bs-toggle="modal"
                                data-bs-target="#locationModal"
                        >
                            <i class="feather-icon icon-map-pin me-2"></i>Pick Location
                        </button>
                    </div>
                </div>

                <div class="d-none d-lg-block">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                판매 등록 277줄
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/acc/productRegister"
                                    >악세서리 판매 등록</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/bike/productRegister"
                                    >자전거 판매 등록</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                구매
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/acc/accList"
                                    >악세서리 구매</a
                                    >
                                </li>
                                <li>
                                    <a
                                            class="dropdown-item"
                                            href="/bike/bikeList"
                                    >자전거 구매</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/mypage/shop-cart"
                                       th:if="${session.loginId != null}">장바구니</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                커뮤니티
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="./pages/blog.html"
                                    >가이드</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="../pages/store-grid.html"
                                    >질문/정보 게시판</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                공지
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="../pages/signin.html"
                                    >공지</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="../pages/signup.html"
                                    >이벤트</a
                                    >
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                            >
                                고객센터
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="../pages/signin.html"
                                    >1:1문의</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="../pages/signup.html"
                                    >자주 묻는 질문</a
                                    >
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="main-wrapper">
    <!-- navbar vertical -->





    <!-- main -->
<!--    <form th:action="${bike == null} ? @{/bike/productRegister} : @{/bike/update}" th:object="${bike}" method="post" enctype="multipart/form-data">-->
    <form th:action="${bike == null} ? @{/bike/productRegister} : @{/bike/update/{bikeid}(bikeid=${bike.bikeid})}" th:object="${bike}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{bikeid}" />
        <div class="card mb-6 card-lg">
            <div class="card-body p-6">
                <h4 class="mb-4 h5">제품 정보</h4>
                <div class="row">
                    <div class="mb-3 col-lg-6">
                        <label class="form-label">제목</label>
                        <input type="text" class="form-control" th:field="*{title}" placeholder="제목을 입력하세요" required>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label class="form-label">제품명</label>
                        <input type="text" class="form-control" th:field="*{productname}" placeholder="제품 이름을 입력하세요" required>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label class="form-label">작성자명</label>
                        <input type="text" class="form-control" th:field="*{userid}" readonly>
                    </div>
                    <div class="mb-3 col-lg-6">
                        <label class="form-label">가격</label>
                        <input type="text" class="form-control" th:field="*{price}" placeholder="판매 가격을 입력하세요" required>
                    </div>
                    <div class="mb-3 col-lg-12 mt-5">
                        <h4 class="mb-3 h5">제품 이미지</h4>
                        <div class="d-block dropzone border-dashed rounded-2">
                            <div class="fallback">
                                <input name="imgFile" type="file" multiple>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-lg-12 mt-5">
                        <h4 class="mb-3 h5">제품 설명</h4>
                        <div class="py-8" id="editor"></div>
                        <input type="text" class="form-control" th:field="*{info}" placeholder="제품 스펙을 입력하세요" required>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" th:text="${bike == null} ? '등록' : '수정'">저장</button>
        <button type="reset" class="btn btn-secondary mb-2">취소</button>
    </form>
<!--    <main class="main-content-wrapper">-->
<!--        &lt;!&ndash; container &ndash;&gt;-->
<!--        <div class="container">-->
<!--            &lt;!&ndash; row &ndash;&gt;-->
<!--            <div class="row mb-8">-->
<!--                <div class="col-md-12">-->
<!--                    <div class="d-md-flex justify-content-between align-items-center">-->
<!--                        &lt;!&ndash; page header &ndash;&gt;-->
<!--&lt;!&ndash;                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                            <h2>제품 등록</h2>&ndash;&gt;-->


<!--&lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                        <div th:if="${bike == null}">-->
<!--                            <h2>제품글 등록</h2>-->
<!--                        </div>-->
<!--                        <div th:if="${bike != null}">-->
<!--                            <h2>제품글 수정</h2>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; button &ndash;&gt;-->
<!--                        <div>-->
<!--                            <a th:href="@{products.html}" class="btn btn-light">Back to Product</a>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; row &ndash;&gt;-->
<!--            <div class="row">-->
<!--                <div class="col-lg-8 col-12">-->
<!--                    <form th:action="@{productRegister}" method="post" enctype="multipart/form-data">-->
<!--                        <div class="card mb-6 card-lg">-->
<!--                            <div class="card-body p-6">-->
<!--                                <h4 class="mb-4 h5">제품 정보</h4>-->
<!--                                <div class="row">-->
<!--                                    <div class="mb-3 col-lg-6">-->
<!--                                        <label class="form-label">제목</label>-->
<!--                                        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요" required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-6">-->
<!--                                        <label class="form-label">제품 종류</label>-->
<!--                                        <select class="form-select" name="category">-->
<!--                                            <option selected>종류 선택</option>-->
<!--                                            <option value="Dairy, Bread &amp; Eggs">악세서리</option>-->
<!--                                            <option value="Snacks &amp; Munchies">자전거</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-6">-->
<!--                                        <label class="form-label">제품명</label>-->
<!--                                        <input type="text" class="form-control" name="productname" placeholder="제품 이름을 입력하세요" required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-6">-->
<!--                                        <label class="form-label">작성자명</label>-->
<!--                                        <input type="text" class="form-control" name="userid" th:value="${userid}" readonly>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-6">-->
<!--                                        <label class="form-label">가격</label>-->
<!--                                        <input type="text" class="form-control" name="price" placeholder="판매 가격을 입력하세요" required>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-12 mt-5">-->
<!--                                        <h4 class="mb-3 h5">제품 이미지</h4>-->
<!--                                        <div class="d-block dropzone border-dashed rounded-2">-->
<!--                                            <div class="fallback">-->
<!--                                                <input name="imgFile" type="file" multiple>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-lg-12 mt-5">-->
<!--                                        <h4 class="mb-3 h5">제품 설명</h4>-->
<!--                                        <div class="py-8" id="editor"></div>-->
<!--                                        <input type="text" class="form-control" name="info" placeholder="제품 스펙을 입력하세요" required>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <button type="submit" class="btn btn-primary mb-2">등록</button>-->
<!--                        <button type="reset" class="btn btn-secondary mb-2">취소</button>-->

<!--                    </form>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-12">-->
<!--                    &lt;!&ndash; card &ndash;&gt;-->

<!--                    &lt;!&ndash; card &ndash;&gt;-->

<!--                    &lt;!&ndash; card &ndash;&gt;-->
<!--                    <div class="card mb-6 card-lg">-->
<!--                        &lt;!&ndash; card body &ndash;&gt;-->

<!--                    </div>-->
<!--                    &lt;!&ndash; button &ndash;&gt;-->
<!--                    &lt;!&ndash; <div class="d-grid">-->
<!--                      <a href="#" class="btn btn-primary">-->
<!--                        Create Product-->
<!--                      </a>-->
<!--                    </div> &ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--    </main>-->

</div>


<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row g-4 py-4">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="row g-4">
                    <div class="col-6 col-sm-6 col-md-2">
                        <h6 class="mb-4">판매 등록</h6>
                        <!-- list -->
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">판매 등록</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-2">
                        <h6 class="mb-4">구매</h6>
                        <!-- list -->
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">악세서리 구매</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">자전거 구매</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#1" class="nav-link">장바구니</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-2">
                        <h6 class="mb-4">커뮤니티</h6>
                        <ul class="nav flex-column">
                            <!-- list -->
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">가이드</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">질문/정보 게시판</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-2">
                        <h6 class="mb-4">공지</h6>
                        <ul class="nav flex-column">
                            <!-- list -->
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">공지</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">이벤트</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <h6 class="mb-4">고객센터</h6>
                        <ul class="nav flex-column">
                            <!-- list -->
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">1:1문의</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#!" class="nav-link">자주 묻는 질문</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Javascript-->
<!-- Libs JS -->
<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>

<!-- Theme JS -->
<script th:src="@{/js/theme.min.js}"></script>
<script th:src="@{/js/vendors/password.js}"></script>
<script th:src="@{/libs/quill/dist/quill.min.js}"></script>
<script th:src="@{/js/vendors/editor.js}"></script>
<script th:src="@{/libs/dropzone/dist/min/dropzone.min.js}"></script>

</body>
</html>